{% block body %}

<body>
  
          
          
   
            <a href="{{path('prueba_homepage')}}">   NO SE PUEDE ELIMINAR EL PRODUCTO PORUQE TIENE UNA FICHA TECNICA
          </a>
</body>

{% endblock %}

