<html>
<head>
    <style> 
        
        
        
    
       
        
     * {
        box-sizing: border-box;
        margin: 0 auto; 
    }
        
  div.container {
        width: 80%;
        border: 3px solid black;
        background-color: aqua;
    }

    
    </style>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/styleCopy.css" />
    <link rel="stylesheet" type="text/css" href="css/estilo.css" />
        <link rel="stylesheet" type="text/css" href="..//htmlsym/css/estilologin.css" />
</head>
  
<body>
  <div id="main">
    

	<div id="menubar">
        
        
        
	  <div id="welcome">
         
	     <img src="..//htmlsym/images/logo.png" height="80px" width="80px"   accesskey=""     >   
          
     
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items">
	    <ul id="menu">
          <li class="current"><a href="index.html">Inicio</a></li>
          <li><a href="tabla.html">Tabla de alimentos</a></li>
          <li><a href="testimonios.html">Contactos</a></li>
              <li><a href="testimonios.html">login</a></li>
  
        </ul>
      </div> <!-- termina menu_tems -->
    </div> <!-- termina menubar-->	
      
      
    </div>
    
    <div id="menusesion">
        <h1 font color= blue>INICIE SESION</h1>
    </div>
    
    
    
     <div id="registrar">

</div> <!-- fin opcion-->
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cabecera" >
                <img src="./css/images/logo.gif">
            </div>
 
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <!--A saber, el atributo for funciona como el id.-->
                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                    <p><label >Usuario:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Usuario" autofocus="" required=""></p>
 
                    <p><label>Contraseña:</label></p>
                        <input name="contrasenia" type="password" id="contrasenia" placeholder="Ingresa Password" required=""></p>
 
                    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
            
             <div id="menu_registrologin">
	    <ul id="menu">
          <li1 class="current"><a2 href="index.html">Registrarse</a2></li1>
          <li1><a2 href="tabla.html">Olvido Contraseña</a2></li1>
    
        </ul>
      </div> <!-- termina menu_tems -->
                            </form>
            </div><!--fin cuerpo-->
 
            <div id="pie">Sistema de Login Y Registro
    
   
    
    </div>
    
    
    
        </div><!-- fin contenedor -->
    </div><!--fin envoltura-->
    

  
    
    
    </body>
</html>
